.wrapper-materia {
    background-image: url("ruta/a/tu/imagen/nubes.jpg");
    padding: 0 20px; /* Ajuste de padding horizontal */
  }
  
  .main-materia {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .row-materia {
    width: 600px; /* Reduce el ancho del contenedor */
    height: auto; /* Altura automática según el contenido */
    border-radius: 10px;
    background: #e8d9fb;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.2);
    
  }
  
  .header-materia {
    text-align: center; /* Centra el texto horizontalmente */
    margin-bottom: 50px; /* Ajusta el margen inferior */
    margin-left: -30px;
    font-size: 24px; /* Ajusta el tamaño de la fuente según sea necesario */
  }
  .col-md-6-materia {
    width: 50%;
    padding: 20px;
  }
  
 
  
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Ajuste del alineado de texto */
  }
  
  .right-materia {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%; /* Ajuste del ancho al 100% */
  }
  
  .input-box-materia {
    width: 330px;
    margin: 50px auto 0; /* Centro horizontalmente y aumenta el margen superior */
    box-sizing: border-box;
  }
  
  .input-box-materia header {
    font-weight: 700;
    text-align: -30px;
    margin-bottom: 20px; /* Reducción del margen inferior */
    font-size: 20px;
  }
  
  .input-field-materia {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px;
    margin-bottom: 20px;
    margin-left: -30px; /* Ajusta el margen izquierdo */
  }
  
  .input-materia {
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    margin-bottom: 20px;
    color: #40414a;
  }
  
  .input-box-materia .input-field-materia label {
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: 0.5s;
  }
  
  .input-field-materia .input-materia:focus ~ label,
  .input-field-materia .input-materia:valid ~ label {
    top: -10px;
    font-size: 13px;
    color: #000000;
  }
  
  .input-field-materia .input-materia:focus,
  .input-field-materia .input-materia:valid {
    border-bottom: 1px solid #bd90f0;
  }
  
  .submit-materia {
    border: none;
    outline: none;
    height: 45px;
    background: #bd90f0;
    border-radius: 5px;
    transition: 0.4s;
    cursor: pointer;
  }
  
  .submit-materia:hover {
    background: #a465e7;
    color: black;
  }
  
  .signin-materia {
    text-align: center;
    font-size: small;
    margin-top: 25px;
  }
  
  span a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
    transition: 0.5s;
  }
  
  span a:hover {
    text-decoration: underline;
    color: #000;
  }
  
  
  
  